@import 'variables';

h1 {
    color: $red-color;
    background-color: #4158d0;
    background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

.card-course-item {
    margin-top: 16px
}
.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;

}
.edit-delete:hover {
    color: red;
}

.table .col-header {
    text-align: center;
}