<div class="mt-4">
    <div class="col-lg-3"> 
        <button> Click here </button>
        <p> {{course.level}}</p>
    </div>
    <div>
        <h3> {{course.name}} </h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoID}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p> {{course.description}}</p>
    </div>
</div>