<form method="GET" action="/tin-tuc">
  <div class="form-group">
    <label for="exampleInputEmail1">Search</label>
    <input type="text" name="q" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter keyword">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>